downloadManager/target/
!downloadManager/.mvn/wrapper/maven-wrapper.jar
!downloadManager/**/src/main/**/target/
!downloadManager/**/src/test/**/target/

### IntelliJ IDEA ###
downloadManager/.idea
downloadManager/*.iws
downloadManager/*.iml
downloadManager/*.ipr